.contact {

  * {
    .border(green);
  }

  .title {
    margin-bottom: 48px;
  }

  .action-btn {
    color: @ecstasy;
    background-color: white;
    border: 2px solid @ecstasy;
  }


  .form {
    width: 50%;
    margin: 0 auto;
  }


  


}

