.landing-block-1 {
  .flex-row(space-between, center);

  * {
    .border(green);
  }
  .border(purple);


  .block-column {
    width: 50%;
    .flex-col(center, center);

    .border(purple);

  }

  .hero {
    width: 50%;
    margin: 0 0 0 48px;

  }



}