.home {

//   .btn-div(white, grey, 80px);

  .block-one {
    .flex-row(space-between, center);

    margin-bottom: 25px;
  
    // * {
    //   .border(green);
    // }
    // .border(purple);
  
  
    .block-column {
      width: 50%;
      .flex-col(center, center);
  
      // .border(purple);
  
    }
  
    .hero {
      width: 50%;
      margin: 0 0 0 48px;
  
    }
  
  }

  .block-two {
    .flex-row(space-between, center);
  
    // * {
    //   .border(green);
    // }
    // .border(purple);
  
  
    .block-column {
      width: 50%;
      .flex-col(center, center);
  
      // .border(purple);
  
    }
  
    .hero {
      width: 50%;
      // margin: 0 0 0 48px;
  
    }
  
  }
}
