// MIXINS IN HERE

// 1. Simple Functions
.set-colors(@text-color; @bg-color) {
  color: @text-color;
  background-color: @bg-color;
}

.set-size(@width; @height) {
  width: @width;
  height: @height;
}

.flex-row(@justify-cont; @align-itms) {
  display: flex;
  flex-direction: row;
  justify-content: @justify-cont;
  align-items: @align-itms;
}
.flex-col(@justify-cont; @align-itms) {
  display: flex;
  flex-direction: column;
  justify-content: @justify-cont;
  align-items: @align-itms;
}



// debugging functions
.border(@color:black) {
  border: 1px solid @color;
}

// 2. Complex Functions

//escaping
@phone:(max-width:500px);